# Python cache
*.pyc
__pycache__/

# Django DB file
db.sqlite3

# Media and static (generated)
media/
staticfilesforproduction/
#don't publish  staticfilesforproduction on github as same hi files hongi

# Virtual environment
env/

# IDE files
.idea
.vscode/
*.code-workspace

# Environment variables
config/.env

# Extra Files
FINALCHECKS.txt
studydjango_orm.txt