{% extends 'final/reusable_html/base_layout.html' %}

{% load static %}

{% block page_title %}welcome admin{% endblock %}


{% block extra_css_files %}
<link rel="stylesheet" href="{% static 'final/css/student/student_dashboard.css' %}">
<link rel="stylesheet" href="{% static 'final/css/sidebar.css' %}">
<link rel="stylesheet" href="{% static 'final/css/teacher/table.css' %}">
{% endblock %}

{% block page_content%}
  <div class="dashboard-container">

    {% include "final/reusable_html/admin_sidebar.html" %}

    <main class="main-content">
      <header>
        <h1>Welcome, Admin</h1>
      </header>

      <section>
        {% if grouped_requests %}
            {% for category, requests in grouped_requests.items %}
                <div class="category-block">
                    <h4>{{ category }}</h4>
                    <table>
                        <thead>
                        <tr>
                            <th>Form Date</th>
                            <th>Roll No.</th>
                            <th>Component</th>
                            <th>Currently Available</th>
                            <th>Requested Qty.</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for req in requests %}
                        <tr>
                            <td>{{ req.std_issue_form_date}}</td>
                            <td>{{ req.student__std_roll_number }}</td>
                            <td>{{ req.component__comp_name }}</td>
                            <td>{{ req.component__comp_quantity_available }}</td>
                            <td>{{ req.std_issue_quantity_issued }}</td>

                            <td>
                                <form method="POST" action="{% url 'final:update_status' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="roll_number"
                                           value="{{ req.student__std_roll_number }}">
                                    <input type="hidden" name="form_date"
                                           value="{{ req.std_issue_form_date|date:'Y-m-d' }}">
                                    <input type="hidden" name="issue_date"
                                           value="{{ req.std_issue_issue_date|date:'Y-m-d' }}">
                                    <input type="hidden" name="component_name"
                                           value="{{ req.component__comp_name }}">

                                    <button class="view-all-btn" name="status_to_update" value="approve">Approve</button>
                                    <button class="btn-reject" name="status_to_update" value="reject">Reject</button>
                                </form>
                            </td>

                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
          {% endfor %}
          {% else %}
          <p class="empty">No current issues.</p>
          {% endif %}
      </section>

    </main>

  </div>
{% endblock %}
