<aside class="sidebar">
      <h2>Admin Panel</h2>
      <ul>
          <li><a href="{% url 'final:admin_dashboard' %}">Back to Dashboard</a></li>
          <li><a href="{% url 'final:approved' %}">Approved Requests</a></li>
          <li><a href="{% url 'final:activity' %}">Activity</a></li>
          <li><a href="{% url 'final:inventory' %}">Inventory</a></li>
          <li><a href="{% url 'final:all_students' %}">All students</a></li>
          <li><a href="{% url 'final:add_new_project' %}">All Projects</a></li>
          <li><a href="{% url 'final:add_new_faculty' %}">Faculties</a></li>
          <li>
              <form method="post" action="{% url 'final:admin_logout' %}">
                {% csrf_token %}
                <button type="submit" class="as-link">Logout</button>
              </form>
          </li>

      </ul>
    </aside>