<aside class="sidebar">
    <h2 id="sidebarClose" >IoT Lab</h2>
    <ul>
        <li><a href="{% url 'final:student_dashboard' %}">Back to dashboard</a></li>
        <li><a href="{% url 'final:issued_items' %}">Issued Items</a></li>
        <li><a href="{% url 'final:request_components' %}">Request Components</a></li>
        <li>
            <form method="post" action="{% url 'final:student_logout' %}" style="display:inline;">
                    {% csrf_token %}
                <button type="submit" class="as-link">Logout</button>
            </form>
        </li>
    </ul>
</aside>