{% extends 'final/reusable_html/base_layout.html' %}

{% load static %}

{% block extra_css_files %}
<link rel="stylesheet" href="{% static 'final/css/student/student_dashboard.css' %}">
<link rel="stylesheet" href="{% static 'final/css/sidebar.css' %}">
<link rel="stylesheet" href="{% static 'final/css/teacher/table.css' %}">
<link rel="stylesheet" href="{% static 'final/css/student/request_sidebar.css' %}">
{% endblock %}

{% block page_title %}Components Items{% endblock %}

{% block extra_js_files %}
<script src="{% static 'final/js/sidebar.js' %}"></script>
<script src="{% static 'final/js/request_sidebar.js' %}"></script>
<script src="{% static 'final/js/searchbar.js' %}"></script>
<script src="{% static 'final/js/issue_component.js' %}"></script>
{% endblock %}

{% block page_content %}
    <div class="dashboard-container">

        <!--Take sidebar code from below file-->
{% include "final/reusable_html/sidebar.html" %}

        <main class="main-content">

            <header class="top-header">
                <span class="mobile-iot-toggle" id="mobilesidebarToggle">IoT</span>
            </header>

        <!-- Right Button and its sidebar for request approving -->
        {% include "final/reusable_html/request_sidebar.html" %}


        <section>
<!--if paginate then i removed searchbar-->

<!--            <div class="search-bar">-->
<!--                <input type="text" id="searchInput" placeholder="Search component..."-->
<!--                       onkeyup="filterComponents()">-->
<!--            </div>-->

            <div class="category-block">
                {% if page_obj %}
                <table>
                    <thead>
                    <tr>
                        <th>{{ category_name }}</th>
                        <th>Available</th>
                        <th>Action</th>
                    </tr>
                    </thead>

                    <tbody>
<!-- ** very important to loop over page_object not components **-->
                    {% for item in page_obj %}
                    <tr data-name="{{ item.comp_name }}">
                        <td>{{ item.comp_name }}</td>
                        <td>{{ item.comp_quantity_available }}</td>
                        <td>
                            <div id="control-{{ item.id }}">
                                {% if item.comp_quantity_available > 0 %}
                                <button onclick="startQuantityControl({{ item.id }}, {{ item.comp_quantity_available }}, '{{ item.comp_name|escapejs }}')">
                                    Add
                                </button>
                                {% else %}
                                <button disabled>Out of Stock</button>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="pagination">
                {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">◀ Prev</a>
                {% endif %}

                <span>
        Page {{ page_obj.number }}
    </span>

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next ▶</a>
                {% endif %}
            </div>

            {% else %}
            <p class="empty">No components available.</p>
            {% endif %}

        </section>

      </main>
    </div>
{% endblock %}


