{% extends 'final/reusable_html/base_layout.html' %}

{% load static %}

{% block extra_css_files %}
<link rel="stylesheet" href="{% static 'final/css/student/student_dashboard.css' %}">
<link rel="stylesheet" href="{% static 'final/css/sidebar.css' %}">
<link rel="stylesheet" href="{% static 'final/css/messages.css' %}">
<link rel="stylesheet" href="{% static 'final/css/student/project_cards.css' %}">
{% endblock %}

{% block page_title %}Student dashboard{% endblock %}

{% block extra_js_files %}
<script src="{% static 'final/js/sidebar.js' %}"></script>
{% endblock %}

{% block page_content%}
<div class="dashboard-container">

{% include "final/reusable_html/sidebar.html" %}

    <main class="main-content">

        <header class="top-header">
            <span class="mobile-iot-toggle" id="mobilesidebarToggle">IoT</span>
        </header>

        <header>
            <h1>Welcome, {{ student.std_full_name|title }}</h1>
        </header>

        <div class="message-container ">
            {% for message in messages %}
            {% if "enroll_success" in message.tags %}
            <p class="success-message">{{ message }}</p>
            {% endif %}

            {% endfor %}
        </div>

    </main>

</div>
{% endblock %}
