{% extends 'final/reusable_html/base_layout.html' %}

{% load static %}

{% block extra_css_files %}
<link rel="stylesheet" href="{% static 'final/css/login.css' %}">
<link rel="stylesheet" href="{% static 'final/css/messages.css' %}">
{%endblock %}

{% block page_title %}Login user{% endblock %}

{% block extra_js_files %}<script src="{% static 'final/js/login.js' %}"></script>{% endblock %}

{% block page_content %}
<div class="login-page">

    <div class="logo-container">
        <a href="{% url 'final:home' %}">
            <img class="logo-img" src="{% static 'final/images/skitlogo.png' %}" alt="Logo">
        </a>
    </div>

    <div class="test-header">
        <h1>IoT Lab Portal</h1>
    </div>

    <div class="auth-container">
        <div id="student">

            <h2>Student Login</h2>

            <div class="message-container">
                {% for message in messages %}
                {% if "login_error" in message.tags or "signup_error" in message.tags %}
                <p class="error-message">{{ message }}</p>
                {% endif %}

                {% if "login_success" in message.tags %}
                <p class="success-message">{{ message }}</p>
                {% endif %}

                {% endfor %}
            </div>

            <form method="POST" action="{% url 'final:login' %}">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="user_login">
                <!--Don't use validation here-->
                <input type="text" name="username" placeholder="Enter RTU roll number" required/>

                <input type="password" name="password" placeholder="Password" required/>

                <button type="submit">Login</button>

                <p class="switch-link" onclick="toggleForm('signup')">New user? Sign up here</p>
            </form>
        </div>


        <form id="signup" method="POST" class="hidden">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="user_signup">
            <h2>Student Sign Up</h2>

            <input type="text" name="first_name" placeholder="First Name" required
                   pattern="[A-Za-z]{2,30}"
                   title="First name must contain only letters (2–30 characters)"
                   autocomplete="given-name"/>


            <input type="text" name="last_name" placeholder="Last Name" required
                   pattern="[A-Za-z]{2,30}"
                   title="Last name must contain only letters (2–30 characters)"
                   autocomplete="family-name"/>

            <select name="std_year" required autocomplete="off">
                <option value="" disabled selected>Year</option>
                <option value="1">1st</option>
                <option value="2">2nd</option>
                <option value="3">3rd</option>
                <option value="4">4th</option>
                <option value="5">5th</option>
            </select>

            <input type="text" name="roll_number" placeholder="Roll Number" required
                   pattern='^[2-9][0-9][eE][sS][kK][a-zA-Z]{2}[0-9]{3}$' minlength="10"
                   maxlength="10"
                   inputmode="numeric" title="enter RTU Roll number only"/>

            <input type="text" name="college_email" placeholder="College ID (b23xxxx)" required
                   minlength="7" maxlength="7"
                   pattern="^[bB][2-9][0-9]{5}$" title="Use college B-ID only"
                   autocomplete="text"/>

            <input type="password" name="password" placeholder="Set Password" required/>

            <input type="tel" name="phone_number" placeholder="Phone Number" required
                   pattern="[6-9][0-9]{9}" minlength="10" maxlength="10" inputmode="numeric"
                   title="Enter a valid 10-digit mobile number"/>

            <button type="submit">Register</button>

            <p class="switch-link" onclick="toggleForm('student')">Already have an account?
                Login</p>
        </form>
    </div>

</div>
{% endblock %}

